
<nav class="navbar navbar-expand-lg navbar-light primary-color ">
    <div class="container">

        <a href="#">
            <img src="assets/img/logo-01.png" width="150vm" style="margin-left: 0%;margin-top: 2px;" alt="">
        </a>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>


        <div class="collapse navbar-collapse" id="basicExampleNav">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home
                    <span class="sr-only">(current)</span>
                   </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                    <ul class="dropdown-menu nav-submenu">
                        <li><a href="coursesGrid.html">Courses</a></li>
                        <li><a href="courseDetail.html">Course Details</a></li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="internship.html">Internship</a>
                </li>


                <li class="nav-item dropdown abtus">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="about.html" aria-haspopup="true" aria-expanded="false">About Us</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contacUs.html">Contact</a>
                </li>

            </ul>
            <ul class="nav-menus-wrapper nav-menu nav-menu-social align-to-right">

                <li class="">
                    <a href="#" class="alio_green" data-toggle="modal" data-target="#login">
                        <i class="icon-signin"></i><span class="dn-lg">Sign In</span>
                    </a>
                </li>
                <li class="add-listing theme-bg">
                    <a href="signup.html" class="text-white">Get Started</a>
                </li>
            </ul>


        </div>
    </div>


</nav>
