<div class="row">

<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-xl-4col-lg-4 col-md-4 col-sm-12">
    <div class="prd_grid_box list_view">
        <div class="prd_grid_thumb">
            <a href="product-detail.html"><img src="assets/img/book-12.png" class="img-fluid" alt=""></a>
        </div>
        <div class="prd_grid_caption">
            <div class="prd_center_capt">
                <div class="tag_shby"><span>By Danpreet</span></div>
                <div class="prd_title"><h4>Web Designing Beginning Cource</h4></div>
                <div class="prd_review">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span>(34)</span>
                </div>
                <div class="prd_price_info">
                    <h5 class="org_prc"><span class="old_prc">$220</span>$149</h5>
                </div>
            </div>
            <div class="prd_bot_capt">
                <div class="prd_button">
                    <a href="product-detail.html" class="bth bth_prd">Add To Cart</a>
                </div>
                <div class="prd_shaved">
                    <div class="prt_saveed_12lk">
                        <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>