<div class="single_items lios_item">

  <div (click)="getTestimonials(testimonialDetails)">
    <div class="_testimonial_wrios shadow_none">
      <div class="_testimonial_flex">
        <div class="_testimonial_flex_first">
          <div class="_tsl_flex_thumb">
            <img src="{{ testimonialDetails.profileImage }}" class="img-fluid" alt="" />
          </div>
          <div class="_tsl_flex_capst">
            <h5>{{ testimonialDetails.studentName }}</h5>
            <div class="_ovr_posts">
              <span>{{ testimonialDetails.currentDesignation }}</span>
            </div>
            <div class="_ovr_rates">
              <span><i class="fa fa-star"></i></span>{{ testimonialDetails.rating }}
            </div>
          </div>
        </div>
        <div class="_testimonial_flex_first_last">
          <div class="_tsl_flex_thumb">
            <img src="{{ testimonialDetails.companyLogo }}" class="img-fluid" alt="" />
          </div>
        </div>
      </div>

      <div class="facts-detail">

        <p innerHTML="{{testimonialDetails.testimonial|slice:0:60}}...."></p>
      </div>
    </div>

  </div>
</div>
