<div class="container">
    <h1>React  Example</h1>
    <div>
        <h3>Step 01:</h3>
        <ol>
            <li>Install Nodejs on your machine</li>
            <li>After that we need to check nodejs is installed or not</li>
            <li>open your command prompt type below give command</li>
            <li>Command is <span class="fw-bolder">"node --version" </span></li>
            <li>
                In meantime <span class="fw-bolder">npm</span> installed with nodejs
            </li>
            <li>
                use this command to check the npm version
                <span class="fw-bolder">npm --version</span>
            </li>
        </ol>
    </div>
    <div>
        <h3>Step 02:</h3>
        <ol>
            <li>How to create an React Project in your Machine</li>
            <li>
                Open command prompt in your machine at spacific folder, use this command
                to create a project
                <span class="fw-bolder">"npx create-react-app projectname"</span>
            </li>
            <li>
                Go to your current project directory
                <span class="fw-bolder">cd "projectname"</span>
            </li>
            <li>How to run React project use below command.</li>
            <li>Command is <span class="fw-bolder">"npm start" </span></li>
            <li>It will automatically run on your default browser</li>
        </ol>
    </div>
    <div>
        <h3>Step 03:</h3>
        <ol>
            <li>How to add Bootstrap in your project</li>
            <li>
                Open current directory on your command prompt use this command<span class="fw-bolder">"npm install
                    bootstrap"</span>
            </li>
            <li>
                How to check bootstrap is installed or not? Check on your
                <span class="fw-bolder">package.json</span> file on your project.
            </li>
        </ol>
    </div>
    <div>
        <h3>Step 04:</h3>
        <ol>
            <li>We need to add dependency for react routing</li>
            <li>
                Open current directory on your command prompt use this command<span class="fw-bolder">"npm install
                    react-router-dom"</span>
            </li>
            <li>
                How to check react-router-dom is installed or not? Check on your
                <span class="fw-bolder">package.json</span> file on your project.
            </li>
        </ol>
    </div>
    <div>
        <h3>Step 05:</h3>
        <ol>
            <li class="my-3">Open App.js file in your project</li>
            <pre class="py-3">
                {{step5}}
            </pre>
            <li class="my-3">Open App.css</li>
            <pre class="py-3">
                {{step5b}}                
            </pre>
        </ol>
    </div>
    <div>
        <h3>Step 06:</h3>
        <ol>
            <li>Create a Folder structure inside on your src folder.</li>
            <ol>
                <li class="fw-bolder">Components</li>
                <ol>
                    <li>Navbar.jsx</li>
                    <li>Hom.jsx</li>
                    <li>About.jsx</li>
                    <li>Contact.jsx</li>
                </ol>
                <li class="fw-bolder">Styles</li>
                <ol>
                    <li>Navbar.css</li>
                    <li>Hom.css</li>
                    <li>About.css</li>
                    <li>Contact.css</li>
                </ol>
            </ol>
        </ol>
    </div>
    <div>
        <h3>Step 07:</h3>
        <ol>
            <li class="my-3">Open Navbar.jsx</li>
            <pre class="py-3">
              {{step7}}
            </pre>
            <li class="my-3">Open Navbar.css</li>
            <pre class="py-3">
                {{step7b}}         
            </pre>
        </ol>
    </div>
    <div>
        <h3>Step 08:</h3>
        <ol>
            <li class="my-3">Open Hom.jsx</li>
            <pre class="py-3">
                {{step8}}
            </pre>
            <li class="my-3">Open Hom.css</li>
            <pre class="py-3">
                {{step8b}}
            </pre>
        </ol>
    </div>
    <div>
        <h3>Step 09:</h3>
        <ol>
            <li class="my-3">Open About.jsx</li>
            <pre class="py-3">
                {{step9}}
            </pre>
            <li class="my-3">Open About.css</li>
           <pre class="py-3">
            {{step9b}}
           </pre>
        </ol>
    </div>
    <div>
        <h3>Step 10:</h3>
        <ol>
            <li class="my-3">Open Contact.jsx</li>
            <pre class="py-3">
                {{step10}}
            </pre>
            <li class="my-3">Open Contact.css</li>
            <pre class="py-3">
                {{step10b}}
            </pre>
        </ol>
    </div>
</div>