<section class="pb-20">
    <div class="container">
        <h6 class="headr-text-list">Last updated on 07/07/2022</h6>
        <h3 class="header-text-list">REFUND POLICY</h3>

        <p class="para-txts">
            Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a
            refund or exchange.
            <b>In Case of Training or other Program:</b><br />
            To be eligible for a refund, you must have attend minimum 5 days of session of which you purchased and
            should have a valid reason of policy violation of Rexcoders or dis-satisfaction of session from Rexcoders.
            <br />
            <b>In Case of any Physical Products:</b><br />
            To be eligible for a return, your item must be unused and in the same condition that you received it. It
            must also be in the original packaging.
            Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or
            magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous
            materials, or flammable liquids or gases.

            <br />
            Additional non-returnable items:
        </p>
        <ol>
            <li>Gift cards</li>
            <li>Downloadable software products</li>
            <li>Training Related Kits</li>
        </ol>

        <h4 class="header-text-list"> Refunds (if applicable)</h4>
       
       
        <p class="para-txts"> Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
            If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days. 
            </p>

        <h3 class="header-text-list">Late or missing refunds (if applicable)</h3>

        <p class="para-txts">If you haven’t received a refund yet, first check your bank account again.
            Then contact your credit card company, it may take some time before your refund is officially posted.
            </p>
<p class="para-txts">Next contact your bank. There is often some processing time before a refund is posted.</p>
   <p class="para-txts"> If you’ve done all of this and you still have not received your refund yet, please contact us at support@rexcoders.in.</p>
   <h3 class="header-text-list">Shipping</h3>
   <p class="para-txts">To return your product, you should mail your product to: Rexcoders Coding Academy, Chunkankadai Jn. Nagercoil-3, TamilNadu 629003.
   </p>
    <p class="para-txts">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
   
   Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
   </p>
   <p class="para-txts">If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
   </p>
    </div>
</section>