

	<!-- ============================ Top Categories Start ================================== -->
    <section class="min">
        <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 text-center">
                    <div class="sec-heading center mb-4">
                        <h2>Explore Our <span class="theme-cl">Domains</span></h2>
                        <p>With the help of Rexcoders Experts, any one can fullfill their tech career dreams.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-1">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/content.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Web Development</a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>23 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-2">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/icons/mobile-app.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Mobile App Development </a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>58 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-8">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/icons/robot.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Robotics</a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>74 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-4">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/python.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Machine Learning</a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>65 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-10">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/designer.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Graphic Designing</a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>43 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-6">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#"><img src="assets/img/icons/digital-marketing.png" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Digital Marketing</a></h4>
                            <ul class="meta">
                                <!-- <li class="video"><i class="ti-video-clapper"></i>82 Classes</li> -->
                            </ul>
                        </div>
                    </div>							
                </div>
                
              
            </div>
            
        </div>
    </section>
    <!-- ============================ Top Categories End ================================== -->
    