.hero_banner {
    
    height: auto;
    padding: 2rem 0;}
    .banner_title {
        font-size: 50px;
        line-height: 1.2;
        font-family: 'Jost', sans-serif;
    }
    .light{
        color: #03b97c !important;
    }