<div class="hero_banner image-cover image_bottom h7_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="simple-search-wrap text-start">
                    <div class="hero_register-1">
                        
                        <h1 class="banner_title mb-4">Welcome to the<span class="light">Rexcoders</span><br>community hub<br></h1>
                        <p class="font-lg mb-4">connect with the community to find answers.Ask question to build skills,and accelerate your digital transformation with Rexcoders community hub</p>
                        
                            <div>
                                <button class="btn theme-bg btn-md text-light" type="button">Register</button>
                            </div>
                            
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="side_block extream_img">
                    <div class="list_crs_img">
                        <img src="assets/img/ic-1.png" class="img-fluid cirl animate-fl-y" alt="" />
                        <img src="assets/img/ic-2.png" class="img-fluid arrow animate-fl-x" alt="" />
                        <img src="assets/img/ic-3.png" class="img-fluid moon animate-fl-x" alt="" />
                    </div>
                    <img src="assets/img/side-2.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
        
    </div>
</div>

