
			<!-- ============================ Call To Action ================================== -->
			<section class="bg-cover" style="background:#fff url(assets/img/call-bg.png)no-repeat;">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
							<div class="call_action mt-4 mb-4 text-center">
								<h2 class="mb-4">Get Free Online Consultation!</h2>
								<p class="mb-4">Assisting youths in choosing their pathways in tech by providing guidance from the industry experts.</p>
								<a href="#" class="btn text-white theme-bg btn-md rounded">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			