<div class="mb-5" style="margin-top: 120px;">

    <div id="homeSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
            <li data-target="#homeSlider" data-slide-to="1"></li>
            <li data-target="#homeSlider" data-slide-to="2"></li>
        </ol>
        <div class="container">
            <div class="carousel-inner" style="height: 80%;">
                <div class="carousel-item active">
                    <div class="row align-items-start">
                        <div class="col-lg-8 col-xs-10">
                            <div class="c-caption">
                                <div class="elsio_tag">Learn with us</div>
                                <h1>
                                    Learn To Code And <br> Pursue Your Dreams</h1>
                                <br>
                                <p>Because learning to code might be <br>the easiest way to change your career.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-2">

                            <img src="assets/img/st7.jpg" class="img-fluid" alt="Los Angeles">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-start">
                        <div class="col-lg-8 ">
                            <div class="c-caption">
                                <div class="elsio_tag">Learn with us</div>
                                <h1>
                                    Find the most exciting <br> online courses</h1>
                                <br>
                                <p>Because learning to code might be <br>the easiest way to change your career.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <img src="assets/img/st5.jpg" class="img-fluid" alt="Los Angeles">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-start">
                        <div class="col-lg-8">
                            <div class="c-caption">
                                <div class="elsio_tag">Learn with us</div>
                                <h1>
                                    Make Connection Across <br> Various courses</h1>
                                <br>
                                <p>Because learning to code might be <br>the easiest way to change your career.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img src="assets/img/st4.jpg" class="img-fluid" alt="Los Angeles">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#homeSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>