<div class="crs_grid" routerLink="/trainings/{{ cardData.trainingSlug }}">
    <div class="crs_grid_thumb">
        <a routerLink="/trainings/{{ cardData.trainingSlug }}" class="crs_detail_link">
            <img src="{{ environment.baseUrl + cardData.imageUrl }}" class="img-fluid rounded" alt="" />
        </a>
    </div>
    <div class="crs_grid_caption">
        <div class="crs_flex">
            <div class="crs_fl_first">
                <div class="crs_cates cl_6"><span>{{cardData.domain.domainName}}</span></div>
            </div>
            <div class="crs_fl_last">
                <h5 class="pb-0 mb-0">
                    <span class="theme-cl">
                        <ng-container *ngIf="cardData.medium==1 ">
                            {{ cardData.discountAmount | currency: "INR":"symbol":"4.0-2"
                        }}
                        </ng-container>
                        <ng-container *ngIf="cardData.medium==0 || cardData.medium==2">
                            {{ cardData.onlineDiscount | currency: "INR":"symbol":"4.0-2"
                        }}
                        </ng-container>
                    </span>
                </h5>
                <del>
                    <p>
                        <span>{{ cardData.amount | currency :'INR': 'symbol':'4.0-2'}}</span>
                    </p>
                </del>
            </div>
        </div>
        <div class="crs_title">
            <h3>
                <a routerLink="/trainings/{{ cardData.trainingSlug }}" class="crs_title_link">
                    {{cardData.trainingName}}</a>
            </h3>
        </div>
        <div _ngcontent-cop-c53="" class="crs_info_detail flex-info d-flex justify-content-between">

            <div _ngcontent-cop-c53="">
                <i _ngcontent-cop-c53="" class="fa fa-clock text-danger pr-1"></i>
                <span _ngcontent-cop-c53="">{{cardData.totalHours}}</span>
            </div>
            <div _ngcontent-cop-c53="">
                <i _ngcontent-cop-c53="" class="fa fa-video text-success pr-1"></i>
                <span _ngcontent-cop-c53="">{{cardData.medium | training:'medium'}}</span>
            </div>
            <div _ngcontent-cop-c53="">
                <i _ngcontent-cop-c53="" class="fa fa-calendar text-info pr-1"></i>
                <span _ngcontent-cop-c53="">{{cardData.trainingType | training:'type'}}</span>
            </div>

        </div>
    </div>
    <div class="crs_grid_foot">
        <div class="crs_flex">
            <div class="crs_fl_first">
                <a routerLink="/trainings/{{ cardData.trainingSlug }}" class="btn btn_view_detail theme-bg text-light">Enroll Now</a>
            </div>
            <div class="crs_fl_last">
                <div class="foot_list_info">
                    <ul>
                        <!-- <li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li> -->
                        <!-- <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li> -->
                        <!-- <li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>