
    <div class="crs_grid">
        <div class="crs_grid_thumb">
            <a href="/trainings/training-details" class="crs_detail_link">
                <img src="assets/img/cr-1.jpg" class="img-fluid rounded" alt="">
            </a>
            <!-- <div class="crs_video_ico">
                <i class="fa fa-play"></i>
            </div>
            <div class="crs_locked_ico">
                <i class="fa fa-lock"></i>
            </div> -->
        </div>
        <div class="crs_grid_caption">
            <div class="crs_cates"><span>Design</span></div>
            <div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">{{cardData.trainingTitle}}</a></h4></div>
            <!-- <div class="crs_info_detail">
                <ul>
                    
                    <li><i class="fa fa-user"></i><span>10k User</span></li>
                    <li><i class="fa fa-eye"></i><span>92k Views</span></li>
                </ul>
            </div> -->
            <div _ngcontent-cop-c53="" class="crs_info_detail"><ul _ngcontent-cop-c53=""><li _ngcontent-cop-c53=""><i _ngcontent-cop-c53="" class="fa fa-clock text-danger"></i><span _ngcontent-cop-c53="">04 hr 07 min</span></li><li _ngcontent-cop-c53=""><i _ngcontent-cop-c53="" class="fa fa-video text-success"></i><span _ngcontent-cop-c53="">27 Lectures</span></li></ul></div>
        </div>
        <div class="crs_grid_foot">
            <div class="crs_flex">
                <div class="crs_fl_first">
                    <div class="crs_reviews">
                        <div class="">4.7<i class="fa fa-star"></i></div><div class="tlt_reviews"><span>(48)</span></div>
                    </div>
                </div>
                <div class="crs_fl_last">  
                    <div class="crs_price"><h2><span class="currency">₹</span><span class="theme-cl">149</span></h2> <del><h6><span class="currency">₹</span><span >149</span></h6></del></div>
                </div>
            </div>
        </div>
    </div>
 