<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center justify-content-between mb-2">
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
        <div class="dlkio_452">
          <div class="ed_detail_wrap">
            <div class="crs_cates cl_1">
              <span>{{ this.trainingData?.domain?.domainName }}</span>
            </div> 
            <div class="crs_cates cl_3">
              <span>{{ this.trainingData?.language?.languageName }}</span>
            </div>
            <div class="ed_header_caption">
              <h2 class="ed_title">{{ this.trainingData?.trainingName }}</h2>
            </div>
            <div class="ed_header_short">
              <p>{{trainingData?.shortNote}}</p>
            </div>
            <div class="align-items-center mt-4">
              <ul class="row p-0">
                <!-- <li class="col-lg-3 col-md-3 col-sm-3 pt-2 pb-2">
                                    <i class="fas fa-star mr-1 text-warning"></i><span>4.9 Star (5,254)</span>
                                </li> -->
                <li class="col-lg-4 col-md-4 col-sm-4 pt-2 pb-2">
                  <i class="fas fa-clock mr-1 text-success"> </i
                  ><span
                    >{{ trainingData?.duration }} ({{
                      trainingData?.totalHours
                    }})</span
                  >
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3 pt-2 pb-2">
                  <i class="fas fa-book mr-1 text-info"></i
                  ><span>{{
                    trainingData?.trainingType | training: "type"
                  }}</span>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3 pt-2 pb-2">
                  <i class="fas fa-video mr-1 text-danger"></i
                  ><span>{{ trainingData?.medium | training: "medium" }}</span>
                </li>
              </ul>
              <div
                class="rounded-circle d-flex align-items-center justify-content-center"
              >
                <!-- <img src="assets/img/team-3.jpg" class="img-fluid circle" width="70" alt="" /> -->
              </div>
              <div class="ml-2 ml-md-3">
                <!-- <span>Created By</span>
                               <h6 class="m-0">Amar Malicalum</h6> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
        <div class="ed_author row">
          
          <h2 class="theme-cl m-0 col-lg-12 col-xm-12">
            <ng-container *ngIf="trainingType == 2">
              {{
                trainingData?.discountAmount | currency: "INR":"symbol":"4.0-2"
              }}
            </ng-container>
            <ng-container *ngIf="trainingType == 1">
              {{
                trainingData?.onlineDiscount | currency: "INR":"symbol":"4.0-2"
              }} </ng-container
            ><span class="old_prc">{{
              trainingData?.amount | currency: "INR":"symbol":"4.0-2"
            }}</span>
          </h2>
        </div>
        <div class="ed_view_link">
          <!-- <div class="coupon-box">
            <i class="ti-coupon-btn btn theme-bg">Apply</i>
            <input
              type="text"
              class="form-control theme-light enroll-btn"
              [(ngModel)]="couponCode"
              placeholder="Have a Coupon?"
            />
          </div>
          <p class="coupon-response error" *ngIf="couponCode">
            Invalid Coupon Code!
          </p> -->
          <div class="col-lg-12 col-xm-12">
            <!-- <label>Medium</label> -->
            <select
              class="form-control"
              (change)="changeMedium()"
              [(ngModel)]="trainingType"
            >
              <option
                *ngIf="trainingData?.medium == 0 || trainingData?.medium == 2"
                [value]="1"
              >
              Crash Curriculum
              </option>
              <option
                *ngIf="trainingData?.medium == 1 || trainingData?.medium == 2"
                [value]="2"
              >
              Dedicated 1:1 Curriculum
              </option>
            </select>
          </div>
          <button (click)="openCheckout()" class="btn theme-bg enroll-btn">
            Enroll Now<i class="ti-angle-right"></i>
          </button>

          <button
            [hidden]="true"
            id="checkoutOpenBtn"
            class="btn theme-bg enroll-btn"
            data-dismiss="modal"
            aria-label="Close"
            data-toggle="modal"
            data-target="#checkoutModal"
          >
            Enroll Now<i class="ti-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="gray pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 order-lg-first">
        <!-- All Info Show in Tab -->
        <div class="tab_box_info mt-4">
          <ul class="nav nav-pills mb-3 light" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="overview-tab"
                data-toggle="pill"
                href="#overview"
                role="tab"
                aria-controls="overview"
                aria-selected="true"
                >Overview</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="curriculum-tab"
                data-toggle="pill"
                href="#curriculum"
                role="tab"
                aria-controls="curriculum"
                aria-selected="false"
                >Curriculum</a
              >
            </li>
            <!-- <li class="nav-item">
                            <a class="nav-link" id="reviews-tab" data-toggle="pill" href="#reviews" role="tab"
                                aria-controls="reviews" aria-selected="false">Reviews</a>
                        </li> -->
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <!-- Overview Detail -->
            <div
              class="tab-pane fade show active"
              id="overview"
              role="tabpanel"
              aria-labelledby="overview-tab"
            >
              <!-- Overview -->
              <div class="edu_wraper">
                <h4 class="edu_title">Overview</h4>
                <p [innerHTML]="trainingData?.description"></p>
                <!-- <ul class="simple-list p-0">
                                    <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                                    <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                                    <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                                    <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                                    <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                                </ul> -->
              </div>

              <div class="edu_wraper">
                <h4 class="edu_title">Prerequisite</h4>
                <p [innerHtml]="trainingData?.prerequisite"></p>
              </div>

              <!-- Overview -->
              <div class="edu_wraper">
                <h4 class="edu_title">What you'll gain</h4>
                <ul class="simple-list p-0 row">
                  <li class="col-xl-4 col-lg-6 col-md-6 m-0">
                    Certificate upon completion
                  </li>
                  <li class="col-xl-4 col-lg-6 col-md-6 m-0">
                    Opportunity to work in live projects
                  </li>
                  <li class="col-xl-4 col-lg-6 col-md-6 m-0">
                    Letter of Recommendation
                  </li>
                  <li class="col-xl-4 col-lg-6 col-md-6 m-0">
                    Letter of Appreciation
                  </li>
                  <li class="col-xl-4 col-lg-6 col-md-6 m-0">
                    Get trained by Experts
                  </li>
                </ul>
              </div>
            </div>

            <!-- Curriculum Detail -->
            <div
              class="tab-pane fade"
              id="curriculum"
              role="tabpanel"
              aria-labelledby="curriculum-tab"
            >
              <div class="edu_wraper">
               
                <h4 class="edu_title">Circullum</h4>
                
               
                <div id="accordionExample" class="accordion shadow circullum">

                  <!-- Part 1 -->
                  <ng-container *ngFor="let syllabus of syllabusList; let i=index">
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                      <ngb-panel >
                        <ng-template ngbPanelTitle class="p-0">
                        
                            <h4 class="mb-0 accordion_title p-0"><a href="javascript:void(0)"  class="d-block position-relative text-dark collapsible-link py-2 ">{{syllabus.moduleName}}</a></h4>
                            
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-body pl-3 pr-3">
                            <ul class="lectures_lists">
                              <ng-container *ngIf="syllabus.topics.length>0">
                                <ng-container *ngFor="let topic of syllabus.topics">
                                <li class="complete" ><div class="lectures_lists_title"><i class="fas fa-check dios"></i></div>{{topic.topicName}}<span class="cls_timing"></span></li>
                                  </ng-container>
                              </ng-container>
                              
                            </ul>
                          </div>
                        </ng-template>
                      </ngb-panel>
                      </ngb-accordion>
                  
                  
                </ng-container>
                 

                

               
             

              </div>
              </div>
            </div>

            <!-- Reviews Detail -->
            <div
              class="tab-pane fade"
              id="reviews"
              role="tabpanel"
              aria-labelledby="reviews-tab"
            >
              <!-- Overall Reviews -->
              <div class="rating-overview">
                <div class="rating-overview-box">
                  <span class="rating-overview-box-total">4.2</span>
                  <span class="rating-overview-box-percent">out of 5.0</span>
                  <div class="star-rating" data-rating="5">
                    <i class="ti-star"></i><i class="ti-star"></i
                    ><i class="ti-star"></i><i class="ti-star"></i
                    ><i class="ti-star"></i>
                  </div>
                </div>

                <div class="rating-bars">
                  <div class="rating-bars-item">
                    <span class="rating-bars-name">5 Star</span>
                    <span class="rating-bars-inner">
                      <span class="rating-bars-rating high" data-rating="4.7">
                        <span
                          class="rating-bars-rating-inner"
                          style="width: 85%"
                        ></span>
                      </span>
                      <strong>85%</strong>
                    </span>
                  </div>
                  <div class="rating-bars-item">
                    <span class="rating-bars-name">4 Star</span>
                    <span class="rating-bars-inner">
                      <span class="rating-bars-rating good" data-rating="3.9">
                        <span
                          class="rating-bars-rating-inner"
                          style="width: 75%"
                        ></span>
                      </span>
                      <strong>75%</strong>
                    </span>
                  </div>
                  <div class="rating-bars-item">
                    <span class="rating-bars-name">3 Star</span>
                    <span class="rating-bars-inner">
                      <span class="rating-bars-rating mid" data-rating="3.2">
                        <span
                          class="rating-bars-rating-inner"
                          style="width: 52.2%"
                        ></span>
                      </span>
                      <strong>53%</strong>
                    </span>
                  </div>
                  <div class="rating-bars-item">
                    <span class="rating-bars-name">1 Star</span>
                    <span class="rating-bars-inner">
                      <span class="rating-bars-rating poor" data-rating="2.0">
                        <span
                          class="rating-bars-rating-inner"
                          style="width: 20%"
                        ></span>
                      </span>
                      <strong>20%</strong>
                    </span>
                  </div>
                </div>
              </div>

              <!-- Reviews -->
              <div class="list-single-main-item fl-wrap">
                <div class="list-single-main-item-title fl-wrap">
                  <h3>Item Reviews - <span> 3 </span></h3>
                </div>
                <div class="reviews-comments-wrap">
                  <!-- reviews-comments-item -->
                  <div class="reviews-comments-item">
                    <div class="review-comments-avatar">
                      <img
                        src="assets/img/user-1.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="reviews-comments-item-text">
                      <h4>
                        <a href="#">Josaph Manrty</a
                        ><span class="reviews-comments-item-date"
                          ><i class="ti-calendar theme-cl"></i>27 Oct 2019</span
                        >
                      </h4>

                      <div class="listing-rating">
                        <i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i>
                      </div>
                      <div class="clearfix"></div>
                      <p>
                        " Commodo est luctus eget. Proin in nunc laoreet justo
                        volutpat blandit enim. Sem felis, ullamcorper vel
                        aliquam non, varius eget justo. Duis quis nunc tellus
                        sollicitudin mauris. "
                      </p>
                      <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"
                          ><i class="ti-thumb-up"></i> 12</a
                        >
                        <a href="#" class="comment-dislike active"
                          ><i class="ti-thumb-down"></i> 1</a
                        >
                        <a href="#" class="comment-love active"
                          ><i class="ti-heart"></i> 07</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--reviews-comments-item end-->

                  <!-- reviews-comments-item -->
                  <div class="reviews-comments-item">
                    <div class="review-comments-avatar">
                      <img
                        src="assets/img/user-2.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="reviews-comments-item-text">
                      <h4>
                        <a href="#">Rita Chawla</a
                        ><span class="reviews-comments-item-date"
                          ><i class="ti-calendar theme-cl"></i>2 Nov May
                          2019</span
                        >
                      </h4>

                      <div class="listing-rating">
                        <i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star"></i>
                      </div>
                      <div class="clearfix"></div>
                      <p>
                        " Commodo est luctus eget. Proin in nunc laoreet justo
                        volutpat blandit enim. Sem felis, ullamcorper vel
                        aliquam non, varius eget justo. Duis quis nunc tellus
                        sollicitudin mauris. "
                      </p>
                      <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"
                          ><i class="ti-thumb-up"></i> 12</a
                        >
                        <a href="#" class="comment-dislike active"
                          ><i class="ti-thumb-down"></i> 1</a
                        >
                        <a href="#" class="comment-love active"
                          ><i class="ti-heart"></i> 07</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--reviews-comments-item end-->

                  <!-- reviews-comments-item -->
                  <div class="reviews-comments-item">
                    <div class="review-comments-avatar">
                      <img
                        src="assets/img/user-3.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="reviews-comments-item-text">
                      <h4>
                        <a href="#">Adam Wilsom</a
                        ><span class="reviews-comments-item-date"
                          ><i class="ti-calendar theme-cl"></i>10 Nov 2019</span
                        >
                      </h4>

                      <div class="listing-rating">
                        <i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i
                        ><i class="fas fa-star active"></i>
                      </div>
                      <div class="clearfix"></div>
                      <p>
                     
                      </p>
                      <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"
                          ><i class="ti-thumb-up"></i> 12</a
                        >
                        <a href="#" class="comment-dislike active"
                          ><i class="ti-thumb-down"></i> 1</a
                        >
                        <a href="#" class="comment-love active"
                          ><i class="ti-heart"></i> 07</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--reviews-comments-item end-->
                </div>
              </div>

              <!-- Submit Reviews -->
              <div class="edu_wraper">
                <h4 class="edu_title">Submit Reviews</h4>
                <div class="review-form-box form-submit">
                  <form>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Your Name"
                          />
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            class="form-control"
                            type="email"
                            placeholder="Your Email"
                          />
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>Review</label>
                          <textarea
                            class="form-control ht-140"
                            placeholder="Review"
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn theme-bg btn-md">
                            Submit Review
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Signup In Modal -->
<div
  class="modal fade"
  id="checkoutModal"
  #checkoutModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="checkoutModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl login-pop-form" role="document">
    <div class="modal-content overli" id="checkoutForm">
      <div class="modal-header">
        <h5 class="modal-title">Checkout</h5>
        <button
          type="button"
          #checkoutCloseBtn
          id="checkoutCloseBtn"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="checkout-form">
          <h3>{{ trainingData?.trainingName }}</h3>
          <h5>
            <span>Payable Amount : </span
            ><span class="theme-cl">{{
              checkoutAmount | currency: "INR":"symbol":"4.0-2"
            }}</span>
          </h5>
          <h6>
            <span class="">Batch : </span
            ><span class="theme-cl"
              >{{ trainingTypeDetail == 1 ? "Crash Curriculum" : "Dedicated 1:1 Curriculum" }}-{{
                batchDetail
              }}</span
            >
          </h6>

          <div class="row">
            <div class="form-group col-lg-6 col-xm-12">
              <label>Prefered Batch</label>
              <div class="input-with-icon">
                <select class="form-control" [(ngModel)]="trainingBatch">
                  <ng-container>
                    <option [value]="0">Choose a Batch</option>
                    <option
                      *ngFor="let batch of batchList"
                      [value]="batch.batchId"
                    >
                      {{ batch.batchDate }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6 col-xm-12">
              <label>Prefered Time</label>
              <div class="input-with-icon">
                <select
                  class="form-control"
                  [(ngModel)]="trainingTime"
                  (change)="chooseBatch()"
                >
                  <option [value]="0" >Choose a Timing</option>
                  <option [value]="1" *ngIf="trainingTypeDetail == 1">Morning(9am-10am)</option>
                  <option [value]="2" *ngIf="trainingTypeDetail == 1">Afternoon(2pm-3pm)</option>
                  <option [value]="3" *ngIf="trainingTypeDetail == 1">Afternoon(5pm-6pm)</option>
                  <option [value]="4" *ngIf="trainingTypeDetail != 1">
                    Full time(10:00am-05:00pm)
                  </option>
                  <option [value]="5" *ngIf="trainingTypeDetail != 1">
                    Part time(04:00pm-07:00pm)
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="d-flex">
            <input
              type="radio"
              id="online"
              [(ngModel)]="trainingTypeDetail"
              (change)="changeMediumDetail()"
              name="trainingTypeDetail"
              [value]="1"
              class="checkbox-custom"
            />
            <label for="online" class="checkbox-custom-label">Crash Curriculum</label>
            <input
              class="checkbox-custom"
              id="offline"
              [(ngModel)]="trainingTypeDetail"
              type="radio"
              (change)="changeMediumDetail()"
              name="trainingTypeDetail"
              [value]="2"
            />
            <label for="offline" class="checkbox-custom-label"
              >Dedicated 1:1 Curriculum</label
            >
          </div>
          <br />

          <div class="form-group">
            <button
              type="submit"
              (click)="checkout()"
              class="btn btn-md full-width theme-bg text-white"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
      <div class="crs_log__footer d-flex justify-content-between mt-0">
        <div class="fhg_45">
          <p class="musrt">
            By enrolling you accept our
            <a routerLink="/pages/terms-and-condtions" class="theme-cl"
              >Terms & Conditions</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
