.img-fluid {
  width: 80px;
  border-radius: 100%;
}
.company-logo {
  width: 70px;
  margin-left: 110px;
}
.mentor-details {
  color: #03b97c;
}
.close {
  cursor: pointer;
}
.testimonial-desc {
  text-align: justify;
}
