<section class="gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-8">
        <div class="sec-heading center">
          <h2>Our Students <span class="theme-cl">Reviews</span></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between mb-5">
      <ngx-slick-carousel id="myCarousel" class="carousel slide w-100 mt-5 mb-5" #slickModal="slick-carousel"
        [config]="slideConfig">
        <div ngxSlickItem class="slide" data-toggle="modal" data-target="#testimonial" id="testimonialTrigger"
          #testimonialTrigger *ngFor="let testimonial of testimonialsList">

          <app-testimonial-card [testimonialDetails]="testimonial"
            (getTestimonial)="getTestimonial($event)"></app-testimonial-card>

        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>


<!-- modal -->


<div class="modal fade" id="testimonial" tabindex="1" style="z-index: 9999; overflow: scroll;" role="dialog"
  aria-labelledby="testimonialmodal" aria-hidden="true">
  <div class="modal-dialog modal-xl testimonial-pop-form" role="document">
    <div class="modal-content overli" id="testimonialmodal">

      <div *ngIf="testimonial">
        <div class="modal-header">
          <h4 class="testimonial-details">Student Review</h4>
          <button type="button" #closetestimonialModal id="testimonial-close-btn" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">

          <div class="d-flex">
            <div class="crs_trt_thumb">
              <a class="crs_trt_thum_link"><img src="{{testimonial.profileImage}}" class="img-fluid " alt="" /></a>
            </div>
            <div class="instructor_title m-2 justify-content-center;">
              <h4><a>{{testimonial.studentName}}</a></h4>
              <h6><a>{{testimonial.currentDesignation}} </a></h6>
              <h6 class="_ovr_rates">
                <span><i class="fa fa-star"></i></span>{{ testimonial.rating }}
              </h6>

            </div>
            <div class="img-fluid">
              <img src="{{testimonial.companyLogo}}" alt="" class="company-logo ">
            </div>
          </div>

          <div>
            <p innerHTML="{{testimonial.testimonial}}" class="testimonial-desc"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
