<app-home-banner></app-home-banner>
<app-tag-card></app-tag-card>
<app-home-category></app-home-category>
<app-about-info></app-about-info>
<app-features></app-features>
<!-- ============================ How It Works Start ================================== -->
<section class="min gray">
  <div class="container">

      <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8">
              <div class="sec-heading center">
                  <h2>How It <span class="theme-cl">Works?</span></h2>
                  </div>
          </div>
      </div>

<app-work-process></app-work-process>
</div>
</section>
<div class="clearfix"></div>
<!-- ============================ How It Works End ================================== -->


    <div class="container">
        <app-mentor-list></app-mentor-list>
    </div>



<div class="container">
    <app-placed-companies></app-placed-companies>
</div>
<app-testimonials></app-testimonials>
<app-counseling></app-counseling>


