<!-- ============================ How It Works Start ================================== -->
<section class="min gray">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>How It <span class="theme-cl">Works?</span></h2>
                    </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-5">
            
            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-search-location"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Get Tech Skills</h4>
                        <p>You’ll take part in a project-based curriculum and get hands-on practice applying it.  You’ll learn to code and think like a software engineer, based on a curriculum developed by experienced practitioners</p>
                    </div>
                </div>
            </div>
            
            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid active">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-calendar-week"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Get Soft Skills</h4>
                        <p>Our Learner Services and Placement teams will give you job search, resume building, and interviewing skills while supporting you through the program. You’ll graduate as a well-rounded, marketable job candidate.</p>
                    </div>
                </div>
            </div>
            
            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-award"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Get Hired</h4>
                        <p>Our Placement team will guide you throughout your job search and our wide network of employer partners and alumni assists with job placement in addition to our curriculum.</p>
                   <br/> </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ How It Works End ================================== -->